.container {
  align-items: center;
  border-radius: 1rem;
  width: 70%;
  height: 37px;
  white-space: nowrap;
  overflow: visible;
  margin: 0.5rem;
  border: 1px solid #dee2e6;
  display: flex;
  box-sizing: border-box;
}

.pill-container {
  overflow: auto;
  max-width: 50%;
  direction: rtl;
  border-bottom-left-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
  flex-grow: 0;
}

.pill-container::-webkit-scrollbar {
  display: none;
}
