.movieTitleAutocomplete {
  align-items: center;
  border-radius: 1rem;
  width: 500px;
  height: 37px;
  white-space: nowrap;
  overflow: visible;
  padding-top: 2px;
  margin: 0.5rem;
  border: 1px solid #dee2e6;
}

.movieTitleAutocomplete-pill-container {
  float: left;
  overflow: auto;
  max-width: 50%;
  direction: rtl;
  border-bottom-left-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
}

.movieTitleAutocomplete-pill-container::-webkit-scrollbar {
  display: none;
}
