.pill {
  height: 24px;
  display: inline-block;
  margin: 0.25rem;
  padding: 0.25em 0.4em;
  cursor: default;
  font-size: 0.8125rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: #eeeeee;
  border-radius: 999em;
  text-align: center;
  box-sizing: border-box;
}

.pill-btn {
  width: 15px;
  padding: 1px;
  background-color: inherit;
  border: none;
}
